// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>   Main Title Card <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  
.main-title-company-number-answer{
    padding-left: 3px;
    font-weight: bold;
}
.main-title-incorporation-date-answer{
    padding-left: 3px;
    font-weight: bold;
}
.main-title-status-answer{
    padding-left: 3px;
    font-weight: bold;
}

.main-title-card{
    box-shadow: 0px 14px 25px rgba(151, 202, 202, 0.59);
}
.main-title-company-name{
    color: black;
    font-weight: bold;
    font-size: 34px;
}
.main-title-company-address{
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.main-title-for-margin-1{
    color: black;
    margin-top: 10px;
}
.main-title-for-margin-2{
    color: black;
    margin-top: 10px;
}
.main-title-status-icon{
    margin-left: 3px;
    vertical-align: middle;
    color: #42a19f;
}
.main-title-download-button{
    margin-top: 12px;
    margin-bottom: 18px;
    float: right;
}
.main-title-information-icon{
    margin-left: 3px;
    vertical-align: middle;
    color: #42a19f;
}
.main-title-company-icon{
    margin-left: 3px;
    vertical-align: middle;
    color: #42a19f;
}


// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>   Details Card <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  

.detail-card{
    box-shadow: 0px 14px 25px rgba(63, 129, 129, 0.59);
}
.search-Button{
    float: right;
    margin-top: 10px;
}
.answer-label{
    font-weight: bold;
    color: black;
}
.answer-sub-label{
    color: black;
    font-weight: bold;
}
.detail-header {
    background-color: #42a19f;
    border-radius: 25px;
}
.detail-card-title {
    color: white;
}
.detail-label{
    color: black;
    font-size: 19px;
    font-weight: bold;
}

.detail-sub-label{
    color: black;
    font-size:17px;
}
// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  Directors/PSC <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  
.director-header {
    background-color: #42a19f;
    border-radius: 25px;
}
.director-card-title {
    color: white;
}
.director-card{
    box-shadow: 0px 14px 25px rgba(63, 129, 129, 0.59);
}